.background {
  background-image:url('bluebackground.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #000;
}

h1 {
  color: #fff;
  text-align: center;
}

p {
  color: #fff;
}
