<% include partials/header %>

<h1>You fell in love with: <%= thingVar.toUpperCase() %> </h1>

<% if(thingVar.toLowerCase() === 'nismo'){ %>
    <p>Good Choice! Nismo is the best!</p>
<% } else { %>
    <p>Bad choice, should have said Nismo</p>
<% } %>

<p>P.S. this is coming from the love.ejs file</p>

<% include partials/footer %>

<!--using  <%= %> adds to html -->
<!--using <% %> does not display logic, i.e. if statements, loops, etc -->
